* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#maindiv {
    width: 98vw;
    height: 30px;
    background-color: #eeee;
}
.uppernavbar {
    width: 80%;
    display: flex;
    justify-content: space-between;

}
.leftarea{
    display: flex;
    gap: 30px;
    padding: 5px 20px;
}
.rightarea {
    background-color: rgb(255, 255, 255);
    padding: 5px 10px;
    
}
#lowermainnavbar {
    background-color: rgb(255, 255, 255);
    padding: 20px 0;
}
.lowernavbar {
    margin: 0 auto;
    width: 80%;
    display: flex;
    justify-content: space-between;
    position: sticky;
}
.lowernavbar ul {
    display: flex;
    justify-content: space-between;
    width: 90%;
}
.lowernavbar li {
    list-style: none;
    padding: 20px 10px;
}
.lowernavbar button {
    height: 50px;
    width: 135px;
    background-color: #0d6db7;
    color: rgb(255, 255, 255);
    border-radius: 9px;
    transition: transform 0.7s;
}

.lowernavbar button:hover {
    transform: scale(1.2);
}
#maindiv1 {
    width: 80%;
    display: flex;
    justify-content: space-between;
    
}
.section1 {
    font-weight: 700;
    padding: 0 100px;
    font-size: 28px;
    width: 65%;
   

}
.color_theme_english {
    color: #8dc63f;
}
.section1 h3{
    font-size: 25px;
}
.section1 p{
    font-size: 20px;
    font-weight: normal;
}
.readmore {
    height: 40px;
    width: 120px;
    background-color: #ffffff;
    border-radius: 5px;
}
.section2 {
    width: 35%;
}
#box {
    animation-name: flipInY;
    background-color: rgba(182,239,73,.2);
    border-radius: 5px;
    margin: 0 auto;
    margin-top: 20px;
    padding: 20px 0;
    width: 80%;
    display: flex;
    justify-content: space-between;
}
.box1 {
    color: rgba(0,0,0,.85);
    font-size: 20px;
    font-weight: 600;
    line-height: 1.35;
    margin-bottom: 0.5em;
    padding: 0 10px;
}
.box1 span {
    color: #0d6db7;
}
.column1 {
    padding: 0 0 auto;
    width: 25%;
}
.column2 {
    padding: 0 0 auto;
    width: 75%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.box2 button {
    background-color: #424242;
    color: #f2e7e0;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 10px;
    padding: 1rem 2rem;
    transition: transform 1s;
}

.box2 button:hover {
    transform: scale(1.1);
}
.box3 button {
    background-color: #fff;
    border-radius: 10px;
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 10px;
    padding: 1rem 1rem;
    transition: transform 1s;
}

.box3 button:hover {
    transform: scale(1.2);
}
.box4 button {
    background-color: #fff;
    border-radius: 10px;
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 10px;
    padding: 1rem 1rem;
    transition: transform 1s;
}

.box4 button:hover {
    transform: scale(1.2);
}
.box5 button {
    background-color: #fff;
    border-radius: 10px;
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 10px;
    padding: 1rem 1.5rem;
    transition: transform 1s;
}

.box5 button:hover {
    transform: scale(1.2);
}
.box6 button {
    background-color: #8dc63f;
    color: white;
    display: inline-block;
    border-radius: 10px;
    font-size: 14px;
    margin-bottom: 10px;
    padding: 1rem 1.5rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    transition: transform 1s;
}

.box6 button:hover {
    transform: scale(1.2);
}
.image img {
    border-radius: 4px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    
}
.h2 {
    display: flex;
    justify-content: center;
}

#Row {
   width: 80%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    flex-wrap:wrap;
    
}


.servicebox {
    width: 150px;
   background-color: rgba(182,239,73,.2);
    border-radius: 10px;
    color: #424242;
    cursor: default;
    margin-top: 40px;
    padding: 20px;
    text-align: center;
    color: rgba(0,0,0,.85);
    font-size: 16px;
    font-weight: 600;
    line-height: 1.5;
    margin-bottom: 0.5em;
}

.servicebox img {
    height: 70px;
    object-fit: contain;
    width: 70px
}


.Homefunding {
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 30px;
}
.fundingbox {
    width: 100px;
    animation-duration: 1.5s!important;
    animation-iteration-count: 1!important;
    cursor: pointer;
    height: 300px;
    margin-bottom: 10px;
    position: relative;
    width: 400px;
}


.fundingbox img {
    border-radius: 10px;
    height: 300px;
    object-fit: cover;
    width: 100%;
}


.fundingbox .fundbox {
    background-color: rgba(0,0,0,.6);
    border-radius: 10px;
    bottom: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: flex-end;
    padding: 10px;
    position: absolute;
    width: 100%;
}
.typography {
    font-size: 20px;
    color: #fff;
}


.fundingbox .fundbox button {
    background-color: #8dc63f;
    border: none;
    font-size: 14px!important;
    outline: none;
    padding: 10px 30px;
    width: 100%;
}
.Main{
    position: relative;
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin:0 auto;
    
}
.sec1 {
    width: 50%;
}
.sec1 img {
    border-top-left-radius: 100px;
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 10%);
    height: 100%;
    margin-bottom: 20px;
    object-fit: cover;
    width: 80%;
}
.texbox {
    align-items: center;
    background-color: #8dc63f!important;
    border-bottom: 1px solid #fff;
    border-right: 1px solid #fff;
    border-top-left-radius: 60px;
    display: flex;
    height: 51%;
    justify-content: center;
    padding: 65px;
    position: absolute;
    top: 0;
    width: 22%;
}

.head3 {
    color: #fff;
    font-size: 30px;
    font-weight: 600;
    line-height: 1.35;
    margin-bottom: 0.5em;
}
.sec2 {
    width: 50%;
    
    
}
.sec2 h2 {
    color: rgba(0,0,0,.85);
    font-size: 30px;
    font-weight: 600;
    line-height: 1.35;
    margin-bottom: 0.5em;
}

#img  {
    
    height: 50px;
    object-fit: contain;
    width: 50px;
    border-style:none ;
    vertical-align: middle;
    display: flex;  
    background-color: #eee;
    border-radius: 10px;
    margin-right: 19px;
    padding: 10px;
}


.pod p {
    font-size: 20px;
}

.pod h3 {
    color: #0d6db9;
}


.head5 {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 0.5em;
    display: flex;
}
.head5 p {
    color: rgba(0,0,0,.85);
    overflow-wrap: break-word;
}
.star {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

/* 2nd Div */

.servicecounter {
    background-color: #0d6db7;
    left: 0;
    padding-bottom: 100px;
    padding-top: 100px;
    position: relative;
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}
.servicecounter ::before {
    background-image: url(img/bc\ img.png);
    background-position: 50% 0;
    background-repeat: no-repeat;
    background-size: cover;
    content: " ";
    display: block;
    height: 100%;
    left: 0;
    opacity: .2;
    position: absolute;
    top: 0;
    width: 100%;
}

.Row {
    width: 40%;
     display: flex;
     justify-content: space-between;
     margin: 0 auto;
     flex-wrap:wrap;
     
 }
 .jutify_content {
    justify-content: center!important;
 }
.countersingle {
    display: flex;
    align-items: center;
}

 
 .counterimage {
    background-color: #fff;
    border-radius: 60px;
    height: 120px;
    justify-content: center;
    margin-bottom: 20px;
    width: 120px;
}
.counterimage img {
    height: 50%;
    object-fit:contain;
    width: 50%;
}